<!DOCTYPE html>
<!-- Portfolio Website Template Created by Robert Morgan 5/27/20-->
<html lang="en">
<head>
	<link rel="stylesheet" href="css/styles.css">
	<title>Robert Morgan's Portfolio</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<div id="outerwrapper">
<body>
	
	<!-- Use the header area for the website name or logo -->
	<header>
		<p class="myname">&ensp;Robert Morgan</p>
		<img src="images/profile.jpg" alt="profile photo" class="float-left">
		Email: <a href="mailto:rmorgan5@my.gulfcoast.edu">rmorgan5@my.gulfcoast.edu</a>&nbsp;
		Phone: <a href="tel:8507681338">(850) 768-1338</a>
		
	</header>
	
	<!-- Use the nav area to add hyperlinks to other pages within the website -->
	<nav>
		<ul>
			<li><a href="index.html">Home</a></li>
			<li><a href="education.html">Education</a></li>
			<li><a href="experience.html">Experience</a></li>
			<li><a href="samples.html">Samples</a></li>
			<li><a href="contact.html">Contact Me</a></li>
		</ul>
	</nav>
	
	<!-- Use the main area to add the main content of the webpage -->
	<div id="main">
	</div>
	<!-- End Main -->
	
	<!-- Use the footer area to add webpage footer content -->
	<footer>
	&copy; Copyright 2020. All Rights Reserved.<br>
	<a href="mailto:rmorgan5@my.gulfcoast.edu">rmorgan5@my.gulfcoast.edu</a>
	</footer>
	
</body>
</div>
<!-- End outerwrapper -->
</html>